name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install poetry
        run: pipx install poetry
        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "poetry"
          
      - name: Install dependencies
        run: poetry install
        
      - name: Run pre-commit
        run: poetry run pre-commit run --all-files
        
      - name: Run pytest
        run: poetry run pytest
